.method {
  font-size: large;
  margin-right: 18px;
  font-weight: 600;
  color: var(--ifm-color-primary);
}

.GET {
  color: rgb(12, 187, 82);
}

.POST {
  color: rgb(255, 180, 0);
}

.PUT {
  color: rgb(9, 123, 237);
}

.DELETE {
  color: rgb(235, 32, 19);
}

.server-url {
  padding: 8px;
  color: #dbeafe;
  border: 0px;
}

.title {
  font-weight: 600;
  color: var(--ifm-color-primary-dark);
}

.container {
  margin-top: 24px;
}

.auth-pre {
  color: #93c5fd;
  border: 1px solid #93c5fd;
  padding: 8px;
  margin-right: 18px;
}
