/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  /* Customize --hue and --saturation for theme customization.
  uses the hsl(hue, saturation, value) format for tones.
  */
  --hue: 290;
  --saturation: 50%;
  /* config end */

  --ifm-color-primary: hsl(var(--hue), var(--saturation), 59%);
  --ifm-color-primary-dark: hsl(var(--hue), var(--saturation), 49%);
  --ifm-color-primary-darker: hsl(var(--hue), var(--saturation), 39%);
  --ifm-color-primary-darkest: hsl(var(--hue), var(--saturation), 29%);
  --ifm-color-primary-light: hsl(var(--hue), var(--saturation), 69%);
  --ifm-color-primary-lighter: hsl(var(--hue), var(--saturation), 79%);
  --ifm-color-primary-lightest: hsl(var(--hue), var(--saturation), 89%);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
